body {
  font-family: "Montserrat", sans-serif;
  min-height: 3000px;
}

.jumbotron {
  padding-top: 8rem;
  background-color: #2e2d2d;
  color: white;
}

#projects {
  background-color: #2e2d2d;
  color: white;
}
